// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 700px;
  margin: 0 auto;
}

.form{
  margin-top: 20px;
  display: flex;
  align-items: bottom;
}

.input{
  width: 400px;
}

.btn{
  background-color: #0275d8;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: 1px;
}

.conversation{
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.coach{
  background-color: #FFFFBF;
}
